<!-- logo and main page link -->
<div id="p-logo" class="p-logo" role="banner">
	<a href="{{mainpage-href}}" title="{{logo-tooltip}}"><img src="{{logopath}}" alt="{{sitename}}"/>
		<div class="wm-site-name">
			<span class="wm-site-name-main">{{sitename-main}}</span>
			<span class="wm-site-name-sub">{{sitename-sub}}</span>
		</div>
	</a>
</div>
