<nav class="p-navbar collapsible navbar navbar-expand-lg" role="navigation" id="{{id}}">
	<button class="wm-navbar-button" data-toggle="collapse" data-target="#{{id}}--collapse">
		{{{menuIcon}}}
	</button>
	<div class="collapse navbar-collapse" id="{{id}}--collapse">
		<div class="navbar-nav">
			{{{PrimaryNav}}}
		</div>
	</div>
</nav>
