<div class="wm-notification-button wm-header-item">
	<a title="{{label}}" href="{{href}}">
		{{{notificationIcon}}}
	</a>
	{{#hasCount}}<span class="wm-notification-count-badge">{{count}}</span>{{/hasCount}}
</div>
