<div class="wm-notification-button wm-header-item">
	<a class="wm-icon-button" title="{{label}}" href="{{href}}"></a>
	{{#hasCount}}<span class="wm-notification-count-badge">{{count}}</span>{{/hasCount}}
</div>
