{{#each items}}
	{{^isDropdown}}
		<div class="nav-item{{#isActive}} active{{/isActive}}">{{{header}}}</div>
	{{/isDropdown}}
	{{#isDropdown}}
		<div class="nav-item primary-nav-menu{{#isActive}} active{{/isActive}}">
			{{{header}}}
			<div class="d-none">
				{{#each items}}
					{{{.}}}
				{{/each}}
			</div>
		</div>
	{{/isDropdown}}
{{/each}}
