<div class="wm-search-container {{class}}">
{{#unless hidden}}
	<form id="{{id}}" class="mw-search" action="{{url-wgScript}}">
		<div class="row no-gutters wm-header-border-box p-search" role="search">
			<div class="col col-1">
				{{{searchSubmitButton}}}
			</div>
			<div class="col col-11">
				<input name="search" placeholder="{{searchPlaceholder}}" title="{{searchTooltip}}" class="form-control" autocomplete="off">
			</div>
		</div>
		<input type="hidden" name="title" value="{{searchTitle}}">
	</form>
{{/unless}}
{{#if hidden}}
	<div class="wm-search-button wm-header-item">
		{{{searchButton}}}
	</div>
	<form id="{{id}}" class="mw-search wm-hidden" action="{{url-wgScript}}">
		<div class="row no-gutters wm-header-border-box p-search" role="search">
			<div class="col col-1">
				{{{searchSubmitButton}}}
			</div>
			<div class="col col-10">
				<input name="search" placeholder="{{searchPlaceholder}}" title="{{searchTooltip}}" class="form-control" autocomplete="off">
			</div>
			<div class="col col-1">
				{{{html-clearButton}}}
			</div>
		</div>
		<input type="hidden" value="Special:Search" name="title">
	</form>
{{/if}}
</div>
