@import "common-header-search.less";
@import "common-header-logo.less";

/* Header */
.wm-header {
	background-color: @color-header-background;
	font-size: @size-header-font;
	-webkit-box-shadow: 0 0.125rem 0.125rem -0.125rem @color-base-50;
	-moz-box-shadow: 0 0.125rem 0.125rem -0.125rem @color-base-50;
	box-shadow: 0 0.125rem 0.125rem -0.125rem @color-base-50;
	.wm-header-item {
		line-height: 2.5rem;
	}
	.wm-header-border-box {
		border: 0.0625rem solid @color-base-50;
		border-radius: 0.125rem;
	}

	.wm-navbar-button span {
		font-size: 1.3125rem;
	}

	.primary-nav-menu-button {
		span {
			font-weight: normal;
		}

		a.oo-ui-buttonElement-button {
			padding: .5rem !important;
		}

		.oo-ui-indicatorElement-indicator.oo-ui-indicator-down {
			right: -.8rem !important;
		}
	}

	.primary-nav-menu {
		&.active {
			.oo-ui-buttonElement-frameless.oo-ui-labelElement:first-child {
				margin-left: -.625rem;
			}
		}
	}

	.wm-notification-button {
		position: relative;
		.wm-notification-count-badge {
			position: absolute;
			right: 0.625rem;
			background-color: @color-accent-30;
			color: white;
			border-radius: 6.25rem;
			padding: 0.625rem 0.25rem 0.625rem 0.25rem;
			line-height: 0;
		}
		a span {
			font-size: 1.125rem;
			left: 50% !important;
			transform: translateX(-50%) !important;
		}
	}

	.wm-search-clear-button {
		height: 100%;
		a {
			height: inherit;
			&:focus, &:active {
				border: none;
				box-shadow: none;
			}
		}

	}
}
