.wm-page-nav {
	margin: 1.25rem 0 0 0;
	list-style-type: none;

	.nav-item {
		a.nav-link {
			width: 100%;
			color: @color-base-10;

			&:focus,
			&:visited {
				color: @color-base-10;
			}

			&:hover {
				background-color: @color-base-90;
			}
		}

		&.active {
			>a.nav-link {
				font-weight: 600;
				color: @color-accent-50;
				background-color: @color-accent-90;
			}
		}

		.wm-page-nav-sub {
			list-style-type: none;
			margin: 0.625rem 0 0.625rem 1.5625rem;

			&.collapsed {
				display: none;
			}

			.nav-item {
				margin-bottom: 0;
				font-size: 0.875rem;

				>a.nav-link {
					border-left: 0.0625rem solid @color-base-80;
					color: @color-base-20;
				}

				&.active {
					>a.nav-link {
						color: @color-base-10;
						font-weight: 600;
						background-color: transparent;
						border-left: 0.0625rem solid @color-base-10;
					}
				}
			}
		}
	}
}
