/* Various stylings to make 3rd party extensions blend nicely */
.uls-trigger {
	background: none !important;
	padding: 0;
}
.uls-menu {
	top: 5rem !important;
	z-index: 9999 !important;
}

.suggestions {
	margin: 0 !important;
}

.mw-createacct-benefits-container {
	display: none;
}

// Improve default OOUI Apex look
.mw-special-ChangeEmail,
.mw-special-PasswordReset {
	.oo-ui-fieldLayout-header {
		font-weight: bold;
	}
}

.imeselector-toggle {
	z-index: 9999 !important;
}

.grid .uls-language-list.row {
	display: block !important;
}

.uls-input-settings-inputmethods-list .mw-ui-radio {
	block-size: 22.3125px;
	font-size: 14px;
	height: auto;
	text-align: start;
	font-family: sans-serif;
}

.uls-input-settings-inputmethods-list .mw-ui-radio input {
	block-size: auto;
	display: inline;
	font-size: 14px;
	height: auto;
	line-height: 22px;
	text-align: start;
	transform-origin: 0 0;
}

.uls-input-settings-inputmethods-list .mw-ui-radio label {
	block-size: auto;
	display: inline;
	height: auto;
	inline-size: auto;
	margin-block-end: 0;
	margin-bottom: 0;
	perspective-origin: 0 0;
	transform-origin: 0 0;
	width: auto;
}

.uls-input-settings-inputmethods-list .mw-ui-radio label:before {
	border-block-end-width: 1px;
	border-block-start-width: 1px;
	border-inline-end-width: 1px;
	border-inline-start-width: 1px;
	border-width: 5px;
	cursor: pointer;
}
.uls-input-settings-inputmethods-list .mw-ui-radio label:after {
	box-sizing: content-box;
}

.uls-search-wrapper-wrapper {
	inline-size: 840px;
}

.uls-lcd-region-section:not(.hide) {
	width: 824px;
}

.uls-lcd-region-section:not(.hide) .uls-language-block:before {
	content: normal;
}

#search .uls-search-wrapper {
	width: 835px;
}
