wm-tools {
	>.col {
		padding: 40px 40px 0 40px;
	}
}
.wm-content {
	padding: 130px 40px 50px 40px;
	.wm-page-actions {
		.page-actions {
			.btn-group {
				&.show {
					.dropdown-menu {
						right: -50px;
					}
				}
			}
		}
	}
}

.mw-body {
	padding: 0 2rem;
	margin-bottom: 1rem;
}
