/* Header */
.wm-header {
	.wm-header-inner {
		padding: 20px 40px 0 40px;
	}
	form.mw-search {
		min-width: 350px;
		input[name=search] {
			max-width: 999px;
			margin-left: 0;
		}
		&.force-view {
			position: fixed;
			top: 13px;
			left: 250px;
			width: 60%;
			>div {
				width: auto !important;
			}
			input[name=search] {
				max-width: 800px;
			}
		}
		.p-search {
			.col-1 {
				text-align: center;
				button {
					padding: 0;
				}

			}
		}
	}
}
