/* Footer */
.wm-footer {
	padding: 20px 100px 50px 100px;
	font-size: 1rem;
	.wm-footer-buttons {
		height: 100%;
		text-align: center;
		.col {
			height: 50px;
			margin-top: auto;
			margin-bottom: auto;
		}
	}
	.wm-footer-link-group {
		.wm-footer-link-group-name {
			h3 {
				font-size: 1.1rem;
			}
		}
		.wm-footer-link-group-links {
			.wm-button {
				font-size: 1rem;
				width: 170px;
			}
		}
	}
}
